body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  header {
    background: #6200ea;
    color: #fff;
    padding: 10px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  #theme-toggle {
    background: #333;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
  }
  
  main {
    padding: 20px 0;
  }
  
  .section {
    margin-bottom: 40px;
  }

  h1{
    text-align: center;
    color: #ffffff;
  }
  
  h2 {
    text-align: center;
    color: #6200ea;
  }
  
  .sobre-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .sobre-content .minha-foto {
    width: 150px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .timeline-item {
    background: #f4f4f4;
    padding: 10px;
    border-left: 5px solid #6200ea;
  }
  
  footer {
    background: #6200ea;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    color: #333;
  }
  
  
  .dark-mode {
    background: #121212;
    color: #fff;
  }
  
  .dark-mode header {
    background: #333;
  }

  .dark-mode footer {
    background: #333;
    color: #fff;
  }

  
  .dark-mode #theme-toggle {
    background: #6200ea;
    color: #fff;
  }
  
  .dark-mode .timeline-item {
    background: #333;
    border-left-color: #fff;
  }

  .dark-mode .social-icon:hover {
    transform: scale(1.2);
    color: #6200ea;
  }

  